In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

In [198]:
s12 = pd.read_excel(r'C:\Users\LENOVO\Desktop\SAGES excel.xlsx', sheet_name=0)
s34 = pd.read_excel(r'C:\Users\LENOVO\Desktop\SAGES excel.xlsx', sheet_name=1)

In [199]:
print(s12.shape, s34.shape)

(39, 22) (23, 22)

In [200]:
s12['Yielding duration, SAGES-2, hrs'].fillna(0, inplace=True)
s12['Yieliding duration, SAGES-1, hrs'].fillna(0, inplace=True)
s34['Yieliding duration, SAGES-3, hrs'].fillna(0, inplace=True)
s34['Yielding duration, SAGES-4, hrs'].fillna(0, inplace=True)

In [201]:
s12['Blasting to induce caving'].fillna(0, inplace=True)

In [202]:
s12.rename(columns={'Yieliding duration, SAGES-1, hrs':'Yielding duration, SAGES-1, hrs'}, inplace=True)
s34.rename(columns={'Yieliding duration, SAGES-3, hrs':'Yielding duration, SAGES-3, hrs'}, inplace=True)

In [203]:
s34['Convergence, SAGES-4'].replace({'D':0}, inplace=True)

In [204]:
for data in [s12, s34]:
    data['Blasting to induce caving'] = data['Blasting to induce caving'].replace('Y/', '', regex=True).astype('int')
    data['With drawal date'] = pd.to_datetime(data['With drawal date'])
    data['Set date'] = pd.to_datetime(data['Set date'])
    data['Set date'] = data['Set date'].dt.strftime('%d-%m-%Y').astype('datetime64')
    data['With drawal date'] = data['With drawal date'].dt.strftime('%d-%m-%Y').astype('datetime64')
    data.rename(columns={'With drawal date':'Withdrawal date', 'Level ':'Level', 'Slice no. ':'Slice'}, inplace=True)
    data.drop(columns=['Roof and side condition', 'Percent extraction of the rib, %', 'Sl. No.'], inplace=True)
    data['Block'].replace({'A':-1, 'B':1}, inplace=True)
    data['Dip'] = data['Dip'].str[:-1].astype('int64')
    data['Level'] = data['Level'].str[:2].astype('int64')

In [205]:
s12.head()

,Level,Dip,Slice,"FACE advance, m",Set date,"Set load, SAGES-1","Set Load, SAGES-2",Withdrawal date,"Withdrawal load, SAGES-1","Withdrawal load, SAGES-2","Convergence, SAGES-1","Convergence, SAGES-2","Yielding duration, SAGES-1, hrs","Yielding duration, SAGES-2, hrs","Slice extraction duration, days","Tie taken in withdrawal of the SAGES, min","Uncaved roof exposure, 2",Blasting to induce caving,Block
0,31,9,47,333,2017-01-08,128,118,2017-08-05,169,117,5,2,0.0,0.0,4,6,100,0,-1
1,31,9,48,339,2017-05-08,132,104,2017-08-09,169,154,23,11,31.0,0.0,4,3,200,0,-1
2,31,9,49,345,2017-09-08,140,95,2017-08-19,158,114,2,5,0.0,0.0,10,55,300,0,-1
3,31,9,50,351,2017-08-19,110,88,2017-08-25,175,133,14,3,0.0,0.0,6,22,400,0,-1
4,31,9,51,357,2017-08-25,140,90,2017-08-30,141,142,1,6,0.0,0.0,6,16,500,0,-1

In [206]:
s34.head()

,Level,Dip,Slice,"FACE advance, m",Set date,"Set load, SAGES-3","Set Load, SAGES-4",Withdrawal date,"Withdrawal load, SAGES-3","Withdrawal load, SAGES-4","Convergence, SAGES-3","Convergence, SAGES-4","Yielding duration, SAGES-3, hrs","Yielding duration, SAGES-4, hrs","Slice extraction duration, days","Tie taken in withdrawal of the SAGES, min","Uncaved roof exposure, 2",Blasting to induce caving,Block
0,28,11,46,325,2017-06-11,87,141,2017-11-09,173,135,6,4,0.0,0.0,3,7,100,0,1
1,28,11,47,331,2017-09-11,29,96,2017-11-12,97,75,4,0,0.0,0.0,3,20,200,0,1
2,28,11,48,337,2017-12-11,48,85,2017-11-16,151,143,6,5,0.0,0.0,4,180,300,0,1
3,28,10,49,343,2017-11-16,65,83,2017-11-17,89,71,3,1,0.0,0.0,1,15,410,0,1
4,28,10,50,349,2017-11-17,93,128,2017-11-21,120,123,4,0,0.0,0.0,4,31,510,0,1

In [209]:
s12.to_csv(r'C:\Users\LENOVO\Desktop\SAGES12_pre.csv', index=None)
s34.to_csv(r'C:\Users\LENOVO\Desktop\SAGES34_pre.csv', index=None)

In [210]:
print(s12.shape, s34.shape)

(39, 19) (23, 19)

In [211]:
s12.drop(columns=['Yielding duration, SAGES-2, hrs', 'Yielding duration, SAGES-1, hrs'], inplace=True)
s34.drop(columns=['Yielding duration, SAGES-3, hrs', 'Yielding duration, SAGES-4, hrs'], inplace=True)

In [214]:
s12.shape

(39, 17)

In [215]:
s12.columns= ['Level', 'Dip', 'Slice', 'Face m', 'Set date', 'Dip load', 'Rise load', 'Withdraw date', 'Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm', 'Slice extraction days', 'withdrawal time min', 'Roof exposure', 'Blasting holes', 'Block']
s34.columns= ['Level', 'Dip', 'Slice', 'Face m', 'Set date', 'Dip load', 'Rise load', 'Withdraw date', 'Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm', 'Slice extraction days', 'withdrawal time min', 'Roof exposure', 'Blasting holes', 'Block']

In [217]:
s12['SAGES'] = 1
s34['SAGES'] = -1

In [218]:
s12.head()

,Level,Dip,Slice,Face m,Set date,Dip load,Rise load,Withdraw date,Withdrawal load dip,Withdrawal load rise,Conv dip mm,Conv rise mm,Slice extraction days,withdrawal time min,Roof exposure,Blasting holes,Block,SAGES
0,31,9,47,333,2017-01-08,128,118,2017-08-05,169,117,5,2,4,6,100,0,-1,1
1,31,9,48,339,2017-05-08,132,104,2017-08-09,169,154,23,11,4,3,200,0,-1,1
2,31,9,49,345,2017-09-08,140,95,2017-08-19,158,114,2,5,10,55,300,0,-1,1
3,31,9,50,351,2017-08-19,110,88,2017-08-25,175,133,14,3,6,22,400,0,-1,1
4,31,9,51,357,2017-08-25,140,90,2017-08-30,141,142,1,6,6,16,500,0,-1,1

In [223]:
sages = pd.concat([s12, s34], axis=0)

In [224]:
sages.shape

(62, 18)

In [225]:
sages.head()

,Level,Dip,Slice,Face m,Set date,Dip load,Rise load,Withdraw date,Withdrawal load dip,Withdrawal load rise,Conv dip mm,Conv rise mm,Slice extraction days,withdrawal time min,Roof exposure,Blasting holes,Block,SAGES
0,31,9,47,333,2017-01-08,128,118,2017-08-05,169,117,5,2,4,6,100,0,-1,1
1,31,9,48,339,2017-05-08,132,104,2017-08-09,169,154,23,11,4,3,200,0,-1,1
2,31,9,49,345,2017-09-08,140,95,2017-08-19,158,114,2,5,10,55,300,0,-1,1
3,31,9,50,351,2017-08-19,110,88,2017-08-25,175,133,14,3,6,22,400,0,-1,1
4,31,9,51,357,2017-08-25,140,90,2017-08-30,141,142,1,6,6,16,500,0,-1,1

In [226]:
sages.to_csv(r'C:\Users\LENOVO\Desktop\sages.csv', index=None)
s12.to_csv(r'C:\Users\LENOVO\Desktop\SAGES12_pre.csv', index=None)
s34.to_csv(r'C:\Users\LENOVO\Desktop\SAGES34_pre.csv', index=None)

In [227]:
sages.columns

Index(['Level', 'Dip', 'Slice', 'Face m', 'Set date', 'Dip load', 'Rise load',
       'Withdraw date', 'Withdrawal load dip', 'Withdrawal load rise',
       'Conv dip mm', 'Conv rise mm', 'Slice extraction days',
       'withdrawal time min', 'Roof exposure', 'Blasting holes', 'Block',
       'SAGES'],
      dtype='object')

In [14]:
sages = pd.read_csv(r'C:\Users\LENOVO\Desktop\sages.csv')

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor, RadiusNeighborsRegressor, RadiusNeighborsTransformer


target = ['Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm']
X = sages.drop(['Set date', 'Withdraw date','Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm'], axis=1)
y = sages[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
scale = MinMaxScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)
lr = RadiusNeighborsTransformer(algorithm='auto', mode='distance', radius=2)
X_train = lr.fit_transform(X_train)
X_test = lr.transform(X_test)
lr=KNeighborsRegressor(n_neighbors=9, weights='distance', p=2, leaf_size=50)
lr.fit(X_train, y_train)
print(np.sqrt(mean_squared_error(y_train, lr.predict(X_train))))
print(np.sqrt(mean_squared_error(y_test, lr.predict(X_test))))

0.0
24.309397216954306

In [17]:
target = ['Withdrawal load dip']
X = sages.drop(['Set date', 'Withdraw date','Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm'], axis=1)
y = sages[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
scale = MinMaxScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)
lr=KNeighborsRegressor(n_neighbors=9, weights='distance', p=2, leaf_size=50)
lr.fit(X_train, y_train)
print(np.sqrt(mean_squared_error(y_train, lr.predict(X_train))))
print(np.sqrt(mean_squared_error(y_test, lr.predict(X_test))))

0.0
34.30275389681048

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor, RadiusNeighborsRegressor, RadiusNeighborsTransformer

In [370]:
print(r2_score(y_train, lr.predict(X_train)))
print(r2_score(y_test, lr.predict(X_test)))

1.0
-0.14840075601809727

In [296]:
help(RadiusNeighborsTransformer)

Help on class RadiusNeighborsTransformer in module sklearn.neighbors._graph:

class RadiusNeighborsTransformer(sklearn.neighbors._base.RadiusNeighborsMixin, sklearn.neighbors._base.UnsupervisedMixin, sklearn.base.TransformerMixin, sklearn.neighbors._base.NeighborsBase)
 |  RadiusNeighborsTransformer(*, mode='distance', radius=1.0, algorithm='auto', leaf_size=30, metric='minkowski', p=2, metric_params=None, n_jobs=1)
 |
 |  Transform X into a (weighted) graph of neighbors nearer than a radius
 |
 |  The transformed data is a sparse graph as returned by
 |  radius_neighbors_graph.
 |
 |  Read more in the :ref:`User Guide <neighbors_transformer>`.
 |
 |  .. versionadded:: 0.22
 |
 |  Parameters
 |  ----------
 |  mode : {'distance', 'connectivity'}, default='distance'
 |      Type of returned matrix: 'connectivity' will return the connectivity
 |      matrix with ones and zeros, and 'distance' will return the distances
 |      between neighbors according to the given metric.
 |
 |  radius : float, default=1.
 |      Radius of neighborhood in the transformed sparse graph.
 |
 |  algorithm : {'auto', 'ball_tree', 'kd_tree', 'brute'}, default='auto'
 |      Algorithm used to compute the nearest neighbors:
 |
 |      - 'ball_tree' will use :class:`BallTree`
 |      - 'kd_tree' will use :class:`KDTree`
 |      - 'brute' will use a brute-force search.
 |      - 'auto' will attempt to decide the most appropriate algorithm
 |        based on the values passed to :meth:`fit` method.
 |
 |      Note: fitting on sparse input will override the setting of
 |      this parameter, using brute force.
 |
 |  leaf_size : int, default=30
 |      Leaf size passed to BallTree or KDTree.  This can affect the
 |      speed of the construction and query, as well as the memory
 |      required to store the tree.  The optimal value depends on the
 |      nature of the problem.
 |
 |  metric : str or callable, default='minkowski'
 |      metric to use for distance computation. Any metric from scikit-learn
 |      or scipy.spatial.distance can be used.
 |
 |      If metric is a callable function, it is called on each
 |      pair of instances (rows) and the resulting value recorded. The callable
 |      should take two arrays as input and return one value indicating the
 |      distance between them. This works for Scipy's metrics, but is less
 |      efficient than passing the metric name as a string.
 |
 |      Distance matrices are not supported.
 |
 |      Valid values for metric are:
 |
 |      - from scikit-learn: ['cityblock', 'cosine', 'euclidean', 'l1', 'l2',
 |        'manhattan']
 |
 |      - from scipy.spatial.distance: ['braycurtis', 'canberra', 'chebyshev',
 |        'correlation', 'dice', 'hamming', 'jaccard', 'kulsinski',
 |        'mahalanobis', 'minkowski', 'rogerstanimoto', 'russellrao',
 |        'seuclidean', 'sokalmichener', 'sokalsneath', 'sqeuclidean',
 |        'yule']
 |
 |      See the documentation for scipy.spatial.distance for details on these
 |      metrics.
 |
 |  p : int, default=2
 |      Parameter for the Minkowski metric from
 |      sklearn.metrics.pairwise.pairwise_distances. When p = 1, this is
 |      equivalent to using manhattan_distance (l1), and euclidean_distance
 |      (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used.
 |
 |  metric_params : dict, default=None
 |      Additional keyword arguments for the metric function.
 |
 |  n_jobs : int, default=1
 |      The number of parallel jobs to run for neighbors search.
 |      If ``-1``, then the number of jobs is set to the number of CPU cores.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.cluster import DBSCAN
 |  >>> from sklearn.neighbors import RadiusNeighborsTransformer
 |  >>> from sklearn.pipeline import make_pipeline
 |  >>> estimator = make_pipeline(
 |  ...     RadiusNeighborsTransformer(radius=42.0, mode='distance'),
 |  ...     DBSCAN(min_samples=30, metric='precomputed'))
 |
 |  Method resolution order:
 |      RadiusNeighborsTransformer
 |      sklearn.neighbors._base.RadiusNeighborsMixin
 |      sklearn.neighbors._base.UnsupervisedMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.neighbors._base.NeighborsBase
 |      sklearn.base.MultiOutputMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, mode='distance', radius=1.0, algorithm='auto', leaf_size=30, metric='minkowski', p=2, metric_params=None, n_jobs=1)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit_transform(self, X, y=None)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Training set.
 |
 |      y : ignored
 |
 |      Returns
 |      -------
 |      Xt : sparse matrix of shape (n_samples, n_samples)
 |          Xt[i, j] is assigned the weight of edge that connects i to j.
 |          Only the neighbors have an explicit value.
 |          The diagonal is always explicit.
 |          The matrix is of CSR format.
 |
 |  transform(self, X)
 |      Computes the (weighted) graph of Neighbors for points in X
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples_transform, n_features)
 |          Sample data
 |
 |      Returns
 |      -------
 |      Xt : sparse matrix of shape (n_samples_transform, n_samples_fit)
 |          Xt[i, j] is assigned the weight of edge that connects i to j.
 |          Only the neighbors have an explicit value.
 |          The diagonal is always explicit.
 |          The matrix is of CSR format.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.neighbors._base.RadiusNeighborsMixin:
 |
 |  radius_neighbors(self, X=None, radius=None, return_distance=True, sort_results=False)
 |      Finds the neighbors within a given radius of a point or points.
 |
 |      Return the indices and distances of each point from the dataset
 |      lying in a ball with size ``radius`` around the points of the query
 |      array. Points lying on the boundary are included in the results.
 |
 |      The result points are *not* necessarily sorted by distance to their
 |      query point.
 |
 |      Parameters
 |      ----------
 |      X : array-like, (n_samples, n_features), optional
 |          The query point or points.
 |          If not provided, neighbors of each indexed point are returned.
 |          In this case, the query point is not considered its own neighbor.
 |
 |      radius : float
 |          Limiting distance of neighbors to return.
 |          (default is the value passed to the constructor).
 |
 |      return_distance : boolean, optional. Defaults to True.
 |          If False, distances will not be returned.
 |
 |      sort_results : boolean, optional. Defaults to False.
 |          If True, the distances and indices will be sorted before being
 |          returned. If False, the results will not be sorted. If
 |          return_distance == False, setting sort_results = True will
 |          result in an error.
 |
 |          .. versionadded:: 0.22
 |
 |      Returns
 |      -------
 |      neigh_dist : array, shape (n_samples,) of arrays
 |          Array representing the distances to each point, only present if
 |          return_distance=True. The distance values are computed according
 |          to the ``metric`` constructor parameter.
 |
 |      neigh_ind : array, shape (n_samples,) of arrays
 |          An array of arrays of indices of the approximate nearest points
 |          from the population matrix that lie within a ball of size
 |          ``radius`` around the query points.
 |
 |      Examples
 |      --------
 |      In the following example, we construct a NeighborsClassifier
 |      class from an array representing our data set and ask who's
 |      the closest point to [1, 1, 1]:
 |
 |      >>> import numpy as np
 |      >>> samples = [[0., 0., 0.], [0., .5, 0.], [1., 1., .5]]
 |      >>> from sklearn.neighbors import NearestNeighbors
 |      >>> neigh = NearestNeighbors(radius=1.6)
 |      >>> neigh.fit(samples)
 |      NearestNeighbors(radius=1.6)
 |      >>> rng = neigh.radius_neighbors([[1., 1., 1.]])
 |      >>> print(np.asarray(rng[0][0]))
 |      [1.5 0.5]
 |      >>> print(np.asarray(rng[1][0]))
 |      [1 2]
 |
 |      The first array returned contains the distances to all points which
 |      are closer than 1.6, while the second array returned contains their
 |      indices.  In general, multiple points can be queried at the same time.
 |
 |      Notes
 |      -----
 |      Because the number of neighbors of each point is not necessarily
 |      equal, the results for multiple query points cannot be fit in a
 |      standard data array.
 |      For efficiency, `radius_neighbors` returns arrays of objects, where
 |      each object is a 1D array of indices or distances.
 |
 |  radius_neighbors_graph(self, X=None, radius=None, mode='connectivity', sort_results=False)
 |      Computes the (weighted) graph of Neighbors for points in X
 |
 |      Neighborhoods are restricted the points at a distance lower than
 |      radius.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features), default=None
 |          The query point or points.
 |          If not provided, neighbors of each indexed point are returned.
 |          In this case, the query point is not considered its own neighbor.
 |
 |      radius : float
 |          Radius of neighborhoods.
 |          (default is the value passed to the constructor).
 |
 |      mode : {'connectivity', 'distance'}, optional
 |          Type of returned matrix: 'connectivity' will return the
 |          connectivity matrix with ones and zeros, in 'distance' the
 |          edges are Euclidean distance between points.
 |
 |      sort_results : boolean, optional. Defaults to False.
 |          If True, the distances and indices will be sorted before being
 |          returned. If False, the results will not be sorted.
 |          Only used with mode='distance'.
 |
 |          .. versionadded:: 0.22
 |
 |      Returns
 |      -------
 |      A : sparse graph in CSR format, shape = [n_queries, n_samples_fit]
 |          n_samples_fit is the number of samples in the fitted data
 |          A[i, j] is assigned the weight of edge that connects i to j.
 |
 |      Examples
 |      --------
 |      >>> X = [[0], [3], [1]]
 |      >>> from sklearn.neighbors import NearestNeighbors
 |      >>> neigh = NearestNeighbors(radius=1.5)
 |      >>> neigh.fit(X)
 |      NearestNeighbors(radius=1.5)
 |      >>> A = neigh.radius_neighbors_graph(X)
 |      >>> A.toarray()
 |      array([[1., 0., 1.],
 |             [0., 1., 0.],
 |             [1., 0., 1.]])
 |
 |      See also
 |      --------
 |      kneighbors_graph
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.neighbors._base.RadiusNeighborsMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.neighbors._base.UnsupervisedMixin:
 |
 |  fit(self, X, y=None)
 |      Fit the model using X as training data
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix, BallTree, KDTree}
 |          Training data. If array or matrix, shape [n_samples, n_features],
 |          or [n_samples, n_samples] if metric='precomputed'.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.

In [530]:
from sklearn.ensemble import RandomForestRegressor
lr=RandomForestRegressor(n_estimators=9, max_depth=20)
lr.fit(X_train, y_train)
print(np.sqrt(mean_squared_error(y_train, lr.predict(X_train))))
print(np.sqrt(mean_squared_error(y_test, lr.predict(X_test))))

11.877415566391901
22.291407059755194

In [531]:
print(r2_score(y_train, lr.predict(X_train)))
print(r2_score(y_test, lr.predict(X_test)))

0.7731762718813631
-0.012553454735330288

In [422]:
from lightgbm import LGBMRegressor

In [460]:
lgb = LGBMRegressor(learning_rate=0.12, n_estimators=115, max_depth=25)
lgb.fit(X_train, y_train.iloc[:, 0])
print(np.sqrt(mean_squared_error(y_train.iloc[:, 0], lgb.predict(X_train))))
print(np.sqrt(mean_squared_error(y_test.iloc[:, 0], lgb.predict(X_test))))
print(r2_score(y_train.iloc[:, 0], lgb.predict(X_train)))
print(r2_score(y_test.iloc[:, 0], lgb.predict(X_test)))

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
27.446365920926837
33.97669627182957
0.42537268915745285
-0.06943352183456142

In [532]:
!pip install autosklearn

ERROR: Could not find a version that satisfies the requirement autosklearn (from versions: none)
ERROR: No matching distribution found for autosklearn

In [534]:
!pip install h2o

Collecting h2o
  Downloading h2o-3.32.1.3.tar.gz (164.8 MB)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3-new\lib\site-packages (from h2o) (2.24.0)
Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Requirement already satisfied: future in c:\users\lenovo\anaconda3-new\lib\site-packages (from h2o) (0.18.2)
Requirement already satisfied: colorama>=0.3.8 in c:\users\lenovo\anaconda3-new\lib\site-packages (from h2o) (0.4.4)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3-new\lib\site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3-new\lib\site-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3-new\lib\site-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3-new\lib\site-packages (from requests->h2o) (1.25.10)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py): started
  Building wheel for h2o (setup.py): finished with status 'done'
  Created wheel for h2o: filename=h2o-3.32.1.3-py2.py3-none-any.whl size=164854348 sha256=33a8b330dc94e314b542cc04c4086051a01fa6a074848497d60f598e38d15fca
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\94\de\98\a3badf41ac2c2b02dc1a21c9b8f8d435b5eb68a52f9df8d3c1
Successfully built h2o
Installing collected packages: tabulate, h2o
Successfully installed h2o-3.32.1.3 tabulate-0.8.9

In [3]:
import h2o
from h2o.automl import H2OAutoML

In [4]:
h2o.init(
    nthreads=-1,     # number of threads when launching a new H2O server
    max_mem_size=12  # in gigabytes
)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         27 mins 34 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.3
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_LENOVO_vbnm37
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    10.50 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ---------------------------------------------------------

In [5]:
train = h2o.import_file(r'C:\Users\LENOVO\Desktop\sages.csv')

Parse progress: || 100%

In [6]:
target = 'Conv rise mm'

In [8]:
X = train.drop(['Set date', 'Withdraw date','Withdrawal load dip', 'Withdrawal load rise', 'Conv dip mm', 'Conv rise mm'], axis=1)

In [1]:
import xgboost

In [3]:
xgboost.__version__

'1.3.0'

In [4]:
!pip freeze

absl-py==0.11.0
alabaster==0.7.12
albumentations==0.5.2
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs==1.4.4
argh==0.26.2
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828585465/work
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid @ file:///C:/ci/astroid_1592487315634/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
atoti==0.5.5
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autograd==1.3
autograd-gamma==0.5.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///tmp/build/80754af9/babel_1605108370292/work
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///C:/ci/bitarray_1605065210072/work
bkcharts==0.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
bokeh @ file:///C:/ci/bokeh_1603297934731/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.0
catboost==0.24.3
category-encoders==2.2.2
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699246375/work
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
comtypes==1.1.7
conda==4.9.2
conda-build==3.20.5
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography @ file:///C:/ci/cryptography_1601046905460/work
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594829190914/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib==0.3.2
distributed @ file:///C:/ci/distributed_1605066635297/work
docutils==0.16
efficientnet-pytorch==0.7.0
entrypoints==0.3
et-xmlfile==1.0.1
fastai==1.0.61
fastcache==1.1.0
fastprogress==1.0.0
ffmpeg==1.4
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
flatbuffers==1.12
formulaic==0.2.3
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
ftfy==5.8
future==0.18.2
gast==0.3.3
gevent @ file:///C:/ci/gevent_1601397627942/work
glob2==0.7
GML==3.0.6
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.15
greenlet @ file:///C:/ci/greenlet_1600885448389/work
grpcio==1.32.0
h2o==3.32.1.3
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
interface-meta==1.2.3
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1604083276484/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jdk4py==11.0.9.0
jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///C:/ci/keyring_1601489747083/work
kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
lazy-object-proxy==1.4.3
libarchive-c==2.9
lifelines==0.26.0
lightgbm==3.1.1
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///C:/ci/lxml_1603216366346/work
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1603355780617/work
mccabe==0.6.1
memory-profiler==0.58.0
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914925608/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1605115881283/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook @ file:///C:/ci/notebook_1601501643625/work
numba==0.51.2
numexpr==2.7.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pandas-datareader==0.9.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102497129/work
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.7.0
partd==1.1.0
path @ file:///C:/ci/path_1598358556930/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pgmpy==0.1.13
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1603823068645/work
Pint==0.16.1
pkginfo==1.6.1
plotly==3.10.0
pluggy==0.13.1
ply==3.11
progressbar==2.5
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.14.0
psutil @ file:///C:/ci/psutil_1598370330503/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint @ file:///C:/ci/pylint_1598617153160/work
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
pytorch-tabnet==3.1.1
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658407916/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1602770567298/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
sentencepiece==0.1.95
seqeval==1.2.2
Shapely==1.7.1
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///C:/ci/spyder_1599054115447/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051709837/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603818908746/work
stanza==1.1.1
statsmodels==0.12.0
sympy @ file:///C:/ci/sympy_1605101511098/work
tables==3.6.1
tabulate==0.8.9
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
tokenizers==0.9.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.7.1
torchvision==0.5.0
tornado==6.1
tqdm==4.48.2
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==4.0.1
typeguard==2.12.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
ujson @ file:///C:/ci/ujson_1602505266082/work
unicodecsv==0.14.1
urllib3==1.25.10
virtualenv==20.4.7
watchdog @ file:///C:/ci/watchdog_1593447437088/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xgboost==1.3.0.post0
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
zict==2.0.0
ZigZag==0.2.2
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1602002494740/work

In [8]:
turn = pd.read_csv(r'C:\Users\LENOVO\Desktop\Surv\turnover.csv', encoding='latin-1')
turn.head()

,stag,event,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,1,m,35.0,Banks,HR,rabrecNErab,no,f,white,bus,6.2,4.1,5.7,7.1,8.3
1,22.965092,1,m,33.0,Banks,HR,empjs,no,m,white,bus,6.2,4.1,5.7,7.1,8.3
2,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,6.2,6.2,2.6,4.8,8.3
3,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,5.4,7.6,4.9,2.5,6.7
4,8.410678,1,m,32.0,Retail,Commercial,youjs,yes,f,white,bus,3.0,4.1,8.0,7.1,3.7

In [10]:
turn.shape

(1129, 16)

In [38]:
dd = {'a':[0,2,3, 0], 'b':[-1.56,6.56,8,1], 'c':[5,6,8,5]}
dd = pd.DataFrame(dd)
dd

   a       b  c
0  0 -1.5600  5
1  2  6.5600  6
2  3  8.0000  8
3  0  1.0000  5

In [39]:
dd['b'] = abs(dd['b'])

In [40]:
dd[dd == 0] = 80
dd

    a      b  c
0  80 1.5600  5
1   2 6.5600  6
2   3 8.0000  8
3  80 1.0000  5

In [140]:
dd.drop_duplicates(inplace=True, keep=False).iloc[:, 0]

AttributeError: 'NoneType' object has no attribute 'iloc'

In [72]:
dd.drop_duplicates(keep=False, inplace=True)
dd

   a  b  c
0  0  1  5
1  2  6  6
2  3  8  8
3  0  7  9

In [ ]:
for k in ['a', 'b']:
    print(dd[k])

In [24]:
from lifelines.datasets import load_dd, load_canadian_senators

In [25]:
dd = load_dd()
dd.head()

,ctryname,cowcode2,politycode,un_region_name,un_continent_name,ehead,leaderspellreg,democracy,regime,start_year,duration,observed
0,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1946.1952.Mona...,Non-democracy,Monarchy,1946,7,1
1,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1953.1962.Ci...,Non-democracy,Civilian Dict,1953,10,1
2,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1963.1972.Mona...,Non-democracy,Monarchy,1963,10,1
3,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1973.1977.Ci...,Non-democracy,Civilian Dict,1973,5,0
4,Afghanistan,700,700.0,Southern Asia,Asia,Nur Mohammad Taraki,Nur Mohammad Taraki.Afghanistan.1978.1978.Civi...,Non-democracy,Civilian Dict,1978,1,0

In [26]:
dd.to_csv('dd_data.csv', index=False)

In [27]:
senator = load_canadian_senators()
senator.to_csv('senator.csv', index=False)

In [29]:
turn1 = turn.copy()
turn1['stag'] = turn1['stag']/100
turn1.to_csv(r'C:\Users\LENOVO\Desktop\Surv\turnover1.csv', index=False)

In [30]:
turn.to_csv(r'C:\Users\LENOVO\Desktop\Surv\turnover.csv', index=False)

In [41]:
s = 's'
dd['ctryname'].dtype == 'object'

True

In [43]:
txt_cols = [cols for cols in dd.columns if dd[cols].dtype not in ['int64', 'int32', 'float64', 'float32', 'int8']]

In [44]:
txt_cols

['ctryname',
 'un_region_name',
 'un_continent_name',
 'ehead',
 'leaderspellreg',
 'democracy',
 'regime']

In [56]:
cc = [item for item in input("\nEnter the name of columns separated by comma that you want to drop"
                                           "or None in case there are no columns to drop: ").split(', ')]

Enter the name of columns separated by comma that you want to dropor None in case there are no columns to drop: a, b, c

In [59]:
ll = ['a', 'b', 'c', 'n']

In [61]:
 in ll

AttributeError: 'list' object has no attribute 'all'

In [65]:
def return_():
    s = 's'
    a = 'a'
    l = 'l'
    return [s, a, l]

win = return_()

In [66]:
win

['s', 'a', 'l']

In [67]:
len(win)

3

In [73]:
print(dd)

   a  b  c
0  0  1  5
1  2  6  6
2  3  8  8
3  0  7  9

In [74]:
display(dd)

   a  b  c
0  0  1  5
1  2  6  6
2  3  8  8
3  0  7  9

In [80]:
from IPython.display import display, display_html

In [76]:
display(dd)

   a  b  c
0  0  1  5
1  2  6  6
2  3  8  8
3  0  7  9

In [81]:
from itertools import cycle, chain
def display_side_by_side(*args, titles=cycle([''])):
    html_str = ''
    for df, title in zip(args, chain(titles, cycle(['</br>']))):
        html_str += '<th style="text-align:center"><td style="vertical-align:top">'
        html_str += f'<h5>{title}</h5>'
        html_str += df.to_html().replace('table', 'table style="display:inline"')
        html_str += '</td></th>'
    display_html(html_str, raw=True)

In [82]:
display_side_by_side(dd.head(2))

,a,b,c
0,0,1,5
1,2,6,6

In [83]:
sen = pd.read_csv(r'C:\Users\LENOVO\Desktop\Surv\senator.csv')

In [84]:
sen.isnull().sum()

Name                                     0
Political Affiliation at Appointment     0
Province / Territory                     0
Appointed on the advice of               0
Term (yyyy.mm.dd)                        0
start_date                               0
end_date                                 0
reason                                  99
diff_days                                0
observed                                 0
dtype: int64

In [85]:
dd

   a  b  c
0  0  1  5
1  2  6  6
2  3  8  8
3  0  7  9

In [89]:
dd.loc[0, 'b'] = np.nan

In [90]:
dd

   a    b  c
0  0  NaN  5
1  2  6.0  6
2  3  8.0  8
3  0  7.0  9

In [91]:
dd.loc[2, 'c'] = np.nan

In [92]:
dd

   a    b    c
0  0  NaN  5.0
1  2  6.0  6.0
2  3  8.0  NaN
3  0  7.0  9.0

In [93]:
dd.loc[3, 'b'] = np.nan
dd.loc[3, 'c'] = np.nan

In [94]:
dd

   a    b    c
0  0  NaN  5.0
1  2  6.0  6.0
2  3  8.0  NaN
3  0  NaN  NaN

In [95]:
dd.loc[dd['b'].isnull(), 'b'] = dd['c']

In [96]:
dd

   a    b    c
0  0  5.0  5.0
1  2  6.0  6.0
2  3  8.0  NaN
3  0  NaN  NaN

In [97]:
dd.loc[dd['c'].isnull(), 'c'] = dd['b']

In [98]:
dd

   a    b    c
0  0  5.0  5.0
1  2  6.0  6.0
2  3  8.0  8.0
3  0  NaN  NaN

In [99]:
dd['d'] = dd['b'] - dd['c']

In [100]:
dd

   a    b    c    d
0  0  5.0  5.0  0.0
1  2  6.0  6.0  0.0
2  3  8.0  8.0  0.0
3  0  NaN  NaN  NaN

In [106]:
freq = ['a','b', 'c', 'f', 'e']
a = list(enumerate(freq))

In [109]:
a[0][0]

0

In [108]:
a

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'f'), (4, 'e')]

In [119]:
df = pd.DataFrame(columns=["one", "two"])


df.one = ["2030-01-24","2019-01-27"]
df.one = pd.to_datetime(df.one)

df.two = ["2019-01-28", "2020-01-29"]
df.two = pd.to_datetime(df.two)

In [120]:
df

         one        two
0 2030-01-24 2019-01-28
1 2019-01-27 2020-01-29

In [121]:
df['days'] = (df['two'] - df['one']).dt.days

In [122]:
df

         one        two  days
0 2030-01-24 2019-01-28 -4014
1 2019-01-27 2020-01-29   367

In [123]:
df['years'] = (
    (df['two'] - df['one']).dt.days)/365

In [124]:
df

         one        two  days      years
0 2030-01-24 2019-01-28 -4014 -10.997260
1 2019-01-27 2020-01-29   367   1.005479

In [128]:
from lifelines.datasets import load_diabetes

mice = load_diabetes()
mice.head()

   left  right  gender
1    24     27    male
2    22     22  female
3    37     39    male
4    20     20    male
5     1     16    male

In [131]:
mice['ev'] = 0

mice.loc[mice['left'].eq(mice['right']), 'ev'] = 1

In [132]:
mice.head()

   left  right  gender  ev
1    24     27    male   0
2    22     22  female   1
3    37     39    male   0
4    20     20    male   1
5     1     16    male   0

In [133]:
from lifelines import KaplanMeierFitter

km = KaplanMeierFitter()
km.fit_interval_censoring(mice['left'], mice['right'], mice['ev'])

In [134]:
mice.shape

(731, 4)

In [135]:
mice.to_csv(r'C:\Users\LENOVO\Desktop\Surv\diabetes.csv')

In [2]:
import pandas as pd

In [3]:
trial = pd.read_csv(r'C:\Users\LENOVO\Downloads\trial_fnp2020-fincausal-task2 (1).csv', delimiter=';')
practice = pd.read_csv(r'C:\Users\LENOVO\Downloads\practice_fnp2020-fincausal-task2.csv', delimiter = ';')

In [4]:
trial.shape

(641, 11)

In [5]:
practice.shape

(1752, 11)

In [8]:
train_all = pd.concat([trial, practice], axis=0)

In [9]:
train_all.shape

(2393, 11)

In [10]:
train_all.head()

,Index,Text,Cause,Effect,Offset_Sentence2,Offset_Sentence3,Cause_Start,Cause_End,Effect_Start,Effect_End,Sentence
0,0001.00026,It found that total U.S. health care spending...,Part of the reason is that Medicare for All w...,It found that total U.S. health care spending...,162,,163.0,321.0,0.0,162.0,<e2>It found that total U.S. health care spen...
1,0003.00001,Transat loss more than doubles as it works to...,it works to complete Air Canada deal,Transat loss more than doubles,,,34.0,70.0,0.0,30.0,<e2>Transat loss more than doubles</e2> as <e...
2,0003.00002,MONTREAL - Transat AT Inc.'s third-quarter ...,the tour operator worked to complete its take...,Transat AT Inc.'s third-quarter net loss more...,,,104.0,168.0,13.0,100.0,MONTREAL - <e2>Transat AT Inc.'s third-quar...
3,0003.00003,The Montreal-based company lost $11.0 million...,The push to close Transat's sale to Air Canad...,The Montreal-based company lost $11.0 million...,123,,124.0,335.0,0.0,123.0,<e2>The Montreal-based company lost $11.0 mil...
4,0003.00007,Transatlantic passenger traffic - key in th...,"help boost revenue to $698.9 million, up from...",Transatlantic passenger traffic - key in th...,,,177.0,253.0,0.0,173.0,<e2>Transatlantic passenger traffic - key i...

In [11]:
train_all.to_csv(r'C:\Users\LENOVO\Desktop\FinCausal-2020-master\train_all.csv')

In [12]:
from lifelines.datasets import load_dd, load_diabetes, load_canadian_senators

In [13]:
turn = pd.read_csv(r'C:\Users\LENOVO\Desktop\Surv\turnover.csv')

In [14]:
dd = load_dd()
diabetes = load_diabetes()
senator = load_canadian_senators()

In [16]:
print(dd.shape, diabetes.shape, senator.shape, turn.shape)

(1808, 12) (731, 3) (933, 10) (1129, 16)

In [17]:
!pip install table-evaluator
!pip install ctgan

Collecting table-evaluator
  Downloading table-evaluator-1.2.2.post1.tar.gz (18 kB)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (1.1.2)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (1.19.2)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (4.48.2)
Requirement already satisfied: psutil in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (5.7.2)
Collecting dython==0.5.1
  Downloading dython-0.5.1-py3-none-any.whl (14 kB)
Requirement already satisfied: seaborn in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (0.11.0)
Requirement already satisfied: matplotlib in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (3.3.2)
Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (0.23.2)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3-new\lib\site-packages (from table-evaluator) (1.5.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from matplotlib->table-evaluator) (8.0.1)
Requirement already satisfied: six in c:\users\lenovo\anaconda3-new\lib\site-packages (from cycler>=0.10->matplotlib->table-evaluator) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3-new\lib\site-packages (from pandas->table-evaluator) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from scikit-learn->table-evaluator) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3-new\lib\site-packages (from scikit-learn->table-evaluator) (0.16.0)
Building wheels for collected packages: table-evaluator
  Building wheel for table-evaluator (setup.py): started
  Building wheel for table-evaluator (setup.py): finished with status 'done'
  Created wheel for table-evaluator: filename=table_evaluator-1.2.2.post1-py3-none-any.whl size=17056 sha256=b69a00761c59ce7f8dd2abacc08c5563cc81cda8e3d48734520cb4c918f54136
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\37\6c\2b\4b4c57a2f15a52b6f02b04835d9106e207a0534c868a072b66
Successfully built table-evaluator
Installing collected packages: dython, table-evaluator
Successfully installed dython-0.5.1 table-evaluator-1.2.2.post1

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\lenovo\anaconda3-new\python.exe -m pip install --upgrade pip' command.

Collecting ctgan
  Downloading ctgan-0.4.3-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: torch<2,>=1.4 in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (1.7.1)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (20.4)
Requirement already satisfied: torchvision<1,>=0.5.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (0.5.0)
Requirement already satisfied: pandas<1.1.5,>=1.1 in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (1.1.2)
Collecting rdt<0.6,>=0.5.0
  Downloading rdt-0.5.0-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: numpy<2,>=1.18.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (1.19.2)
Requirement already satisfied: scikit-learn<1,>=0.23 in c:\users\lenovo\anaconda3-new\lib\site-packages (from ctgan) (0.23.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3-new\lib\site-packages (from pandas<1.1.5,>=1.1->ctgan) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\anaconda3-new\lib\site-packages (from pandas<1.1.5,>=1.1->ctgan) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3-new\lib\site-packages (from python-dateutil>=2.7.3->pandas<1.1.5,>=1.1->ctgan) (1.15.0)
Requirement already satisfied: scipy<2,>=1.4.1 in c:\users\lenovo\anaconda3-new\lib\site-packages (from rdt<0.6,>=0.5.0->ctgan) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from scikit-learn<1,>=0.23->ctgan) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3-new\lib\site-packages (from scikit-learn<1,>=0.23->ctgan) (0.16.0)
Requirement already satisfied: typing-extensions in c:\users\lenovo\anaconda3-new\lib\site-packages (from torch<2,>=1.4->ctgan) (3.7.4.3)
Collecting torchvision<1,>=0.5.0
  Downloading torchvision-0.10.0-cp38-cp38-win_amd64.whl (920 kB)
Collecting torch<2,>=1.4
  Downloading torch-1.9.0-cp38-cp38-win_amd64.whl (222.0 MB)
Requirement already satisfied: pillow>=5.3.0 in c:\users\lenovo\anaconda3-new\lib\site-packages (from torchvision<1,>=0.5.0->ctgan) (8.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\lenovo\anaconda3-new\lib\site-packages (from packaging->ctgan) (2.4.7)
Installing collected packages: torch, torchvision, rdt, ctgan
  Attempting uninstall: torch
    Found existing installation: torch 1.7.1
    Uninstalling torch-1.7.1:
      Successfully uninstalled torch-1.7.1
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.5.0
    Uninstalling torchvision-0.5.0:
      Successfully uninstalled torchvision-0.5.0
Successfully installed ctgan-0.4.3 rdt-0.5.0 torch-1.9.0 torchvision-0.10.0

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\lenovo\anaconda3-new\python.exe -m pip install --upgrade pip' command.

In [29]:
from ctgan import CTGANSynthesizer
discrete_columns = [col for col in diabetes.columns] 
ctgan = CTGANSynthesizer(epochs=100)
ctgan.fit(diabetes, discrete_columns, epochs=100)

synthetic_data = ctgan.sample(100)

In [30]:
from table_evaluator import load_data, TableEvaluator
table_evaluator = TableEvaluator(diabetes, synthetic_data)
for col in diabetes.columns:
    print(table_evaluator.evaluate(target_col=col))

Correlation metric: pearsonr

ValueError: Unknown label type: 'unknown'